[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape

[submodule "Miracle"]
	path = themes/Miracle
	url = https://github.com/hifun-team/hexo-theme-miracle

[submodule "simple99"]
	path = themes/simple99
	url = https://github.com/shuxhan/hexo-theme-simple99

[submodule "themes/Quiet"]
	path = themes/Quiet
	url = https://github.com/QiaoBug/hexo-theme-quiet

[submodule "themes/Keep"]
	path = themes/Keep
	url = https://github.com/XPoet/hexo-theme-keep

[submodule "butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly

[submodule "Keep"]
	path = themes/Keep
	url = https://github.com/XPoet/hexo-theme-keep

[submodule "Quiet"]
	path = themes/Quiet
	url = https://github.com/QiaoBug/hexo-theme-quiet

