if ( is_post() )
  #page-header
    span.pull-left 
      i#toggle-sidebar-hbg.fa.fa-bars.toggle-menu.pull-right(aria-hidden="true")
    div.text-center.title= page.title
else
  #page-header
    span.pull-left 
      i#toggle-sidebar-hbg.fa.fa-bars.toggle-menu.pull-right(aria-hidden="true")
    div.text-center.title= config.title

    if (theme.menu)
      span.pull-right.menus    
        each url, label in theme.menu
          a.site-page(href=url)= label
    
    span.pull-right
      if (theme.algolia_search.enable || theme.local_search && theme.local_search.enable)
        a.site-page.social-icon.search
          i.fa.fa-search
          span=' '+_p('search')
